services:
  php:
    build: .
    volumes:
      - ./:/var/www/html
  nginx:
    image: nginx:latest
    ports:
      - "8081:80"
    volumes:
      - ./:/var/www/html
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    environment:
      - TZ=UTC
    depends_on:
      - php